/* import font*/
@import url(http://fonts.googleapis.com/css?family=Oswald);

body, html {
  font-family: 'Oswald', sans-serif;
  background-color: grey;
  margin: 0;
  overflow: hidden;
}

#canvas {
  border-radius: 4%;
  -moz-border-radius: 4%;
  -webkit-border-radius: 4%;
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

/*begin controls*/
#head {
  margin: 10px auto;
}
#score {
  background: url('http://pngimg.com/upload/star_PNG1597.png');
  background-position-x: 50%;
  background-position-y: 55%;
  background-size: inherit;
  border-radius: 50%;
  /* background-repeat: no-repeat; */
  color: #1f1f1f;
  display: inline-block;
  font-size: 31px;
  height: 100%;
  text-align: center;
  width: 20%;
}

#health {
  display: inline-block;
  height: 1.5em;
  margin-left: 21%;
  transition: all 300ms;
  width: 57%;
}
/*animation for health meter*/
meter::-webkit-meter-optimum-value, meter::-webkit-meter-suboptimum-value, meter::-webkit-meter-even-less-good-value {
  transition: all 300ms;
}
#pause_help span {
  background: #1f1f65;
  border: 2px #ff3400 solid;
  border-radius: 10%;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 1em;
}

#score_health {
  display: inline-block;
  margin-left: 0%;
  width: 45%;
}

#pause_help {
  display: inline-block;
  font-size: 40px;
  height: 0em;
  height: auto;
  line-height: 1.2em;
  width: 50%;
}

#pause_help span:hover {
  background: #2c2c94;
}
/*end controls*/

/*begin help modal*/
div#help_modal {
  background: whitesmoke;
  border: 3px orange solid;
  border-radius: 10px;
  display: block;
  left: 0;
  margin: 0 auto;
  max-width: 90%;
  padding: 8px;
  position: absolute;
  right: 0;
  width: 400px;
}

span#close_help {
  color: grey;
  cursor: pointer;
  display: block;
  font-family: sans-serif;
  font-size: 24px;
  text-align: right;
  transform: scaleY(.9);
}

span#close_help:hover {
  color: black;
}

.star {
  display: inline-block;
  text-align: center;
  width: 30px;
}

.lg.star {
  font-size: 30px;
}

.md.star {
  font-size: 20px;
}

.sm.star {
  font-size: 10px;
}
/*end help modal*/

/*begin restart modal*/
#restart_modal {
  background: #c3c3c3;
  border: 3px solid #777777;
  border-radius: 50%;
  bottom: 0;
  color: white;
  cursor: pointer;
  height: 200px;
  left: 0;
  margin: auto;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transform: scale(1) rotate(0deg);
  transition: transform 1s, opacity 1s;
  width: 200px;
}

#restart_modal.hidden_modal {
  opacity: 0;
  transform: scale(.1) rotate(360deg);
}

#restart_modal div#button {
  background: green;
  /* width: 50px; */
  /* text-align: center; */
  /* display: inline-block; */
  /* border-radius: 50%; */
  bottom: 0;
  color: white;
  font-size: 32px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  transition: all 200ms;
  width: 100%;
}

#restart_modal:hover div#button {
  height: 60px;
}

#restart_modal div#text {
  bottom: 50%;
  color: #434343;
  font-size: 30px;
  position: absolute;
  transform: translateY(50%);
  width: 100%;
}
/*end restart modal*/

/*begin helper classes*/
.hidden {
  display: none !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.col-4 {
  display: inline-block;
  width: 30%;
}
/*end helper classes*/




