/*
	canvas-template.css 
*/

/* -------------------------------------------------------------- */
/* Fonts */

/* find fonts that you like from https://www.google.com/fonts/ and include them here*/
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Lato);


/* -------------------------------------------------------------- */
/* Text Styles */

/* Use the Oswald font as the default */
* {
    font-family: 'Oswald', sans-serif; /* default font - change this */
    color: #665544; /* default color -- change this */
}

/* Use the Lato font pairing for all the headers */
h2{
    font-size: 50px;
    padding-left: 0;
    padding-right: 0;
    margin: 10px;
    display: block;
    text-align: center;


}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}





/* -------------------------------------------------------------- */
/* Canvas Styles */

#myCanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    border-radius: 4%;
}

div#help_modal {
    position: absolute;
    display: block;
    width: 400px;
    border: 3px orange solid;
    border-radius: 10px;
    padding: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: whitesmoke;
}

.hidden{
    display: none !important;
}

span#close_help {
    display: block;
    text-align: right;
    font-family: sans-serif;
    font-size: 24px;
    transform: scaleY(.9);
    color: grey;
    cursor: pointer;
}
span#close_help:hover{
    color: black;
}
.star{
    display: inline-block;
    width: 30px;
    text-align: center;
}
.lg.star{
    font-size: 30px;
}
.md.star{
    font-size: 20px;
}
.sm.star{
    font-size: 10px;
}

.col-4 {
    display: inline-block;
    width: 30%;
}
body, html{
    margin: 0px;
    overflow: hidden;
    background-color: grey;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}
#head{ /*todo autoset width*/
    margin: 0 auto;
    margin-bottom: 10px;
}

div#score_health {
    margin-left: 0%;
    width: 45%;
    display: inline-block;
}

div#score {
    text-align: center;
    font-size: 31px;
    display: inline-block;
    background: url('http://pngimg.com/upload/star_PNG1597.png');
    background-size: inherit;
    /* background-repeat: no-repeat; */
    background-position-x: 50%;
    background-position-y: 55%;
    height: 100%;
    width: 20%;
    color: #1f1f1f;
    border-radius: 50%;
}

#health {
    transition: all 300ms;
    height: 1.5em;
    width: 57%;
    display: inline-block;
    margin-left: 21%;
}
meter::-webkit-meter-optimum-value, meter::-webkit-meter-suboptimum-value, meter::-webkit-meter-even-less-good-value {
    transition: all 300ms;
}


#pause_help{
    font-size: 40px;
    height: 0em;
    line-height: 1.2em;
    display: inline-block;
    width: 50%;
    height: auto;
}
#pause_help span{
    cursor: pointer;
    color: whitesmoke;
    width: 1em;
    text-align: center;
    background: #1f1f65;
    display: inline-block;
    border-radius: 10%;
    border: 2px #ff3400 solid;
}
#pause_help span:hover{
    color: #202020;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

div#action_modal {
    text-align: center;
    border: 3px solid #777777;
    width: 200px;
    background: #c3c3c3;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    color: white;
    cursor: pointer;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: transform 1s, opacity 1s;
    transform: scale(1) rotate(0deg);
    opacity: 1;
}
#action_modal.hidden_modal{
    transform: scale(.1) rotate(360deg);
    opacity: 0;;
}
#action_modal div#button {
    background: green;
    /* width: 50px; */
    /* text-align: center; */
    /* display: inline-block; */
    /* border-radius: 50%; */
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 32px;
    position: absolute;
    width: 100%;
    bottom: 0;
    transition: all 200ms;
}
#action_modal:hover div#button{
    height: 60px;
}
#action_modal div#text {
    transform: translateY(50%);
    position: absolute;
    width: 100%;
    bottom: 50%;
    font-size: 30px;
    color: #434343;
}

@media only screen and (max-width : 768px) {

}






